section> div{
  background: #fff;
  height: 500px;
  width: 90%;
  margin: 100px auto;
  color:#162538;

}
.imagen{
  width: 50%;
  height: 500px;
  background: #2273AA;
  text-align: center;
  float: left;
}
.info{
  width: 50%;
  height: 500px;
  background: #2273AA;
  text-align: left;
  margin-left: 50%;
  color:#fff;
}
div li{
  padding: 10px;
}
div h2{
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid;
}
figure{
  margin-top: 47px;
}
body{
  background: #fff;
}
