
.primer{
  height: 450px;
  width: 80%;
  background: #fff;
  margin-left: 10%;
  margin-top: 75px;

  color: #162538;
  box-shadow: 10px 10px 10px;
  display: inline-block;
}
section h2{
  text-align: center;
  margin: 30px 0 0px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid;
  font-size: 30px;
}
section ul{
  display: inline-block;
  margin: 0 0 0 58px;
  padding: 0;
  text-align: left;
  list-style: none;
  text-align: center;
}
#requisitos{
    margin: 0 0 0 150px;
}
#requi{
    margin: 0 0 0 41px;
}
section li{
  padding: 8px 15px 8px 8px;
  margin: 15px 0 0 0;
}
section h3{
  font-size: 25px;
  padding: 3px;
}

.periodo{
  margin-left: 10%;
  width: 80%;
  height: 80px;
  background-color: #fff;
  position: absolute;

}
section li:nth-child(2n) {
background-color: #eee;
color: black;
 }
 section li:nth-child(2n+1) {
 background-color: #253447;
 color: white;
  }
